/* sub.css */
@import url(reset.css);

/* 한글폰트 */

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Gothic A1', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */


/* 영문폰트 */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* font-family: 'Quicksand', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
/* font-family: 'Inder', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Lexend', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Jost', sans-serif; */

/* common.css */
div.wrap{width: 100%; height: 100%;font-family: 'Jost', sans-serif;}
a{text-decoration: none; color: #000;  color: #fff;}




/* Mobile 크기 0~768 */
@media screen and (max-width:768px) {
      /* layout */
      div.wrap{width: 100%; height: 100%; box-sizing: border-box; background: #050505; color: #fff;}
      header{width: 100%; height: 120px; padding: 0 80px; box-sizing: border-box; position: fixed;}
        div.title_bar{width: 100%; height: 100%; display: flex;align-items: center; justify-content: space-between;}
      div.wrap_inner{width: 100%; height: 100%; }
      
        div.work_title{width: 100%; height: 92vh; background: rgb(0, 6, 88); padding: 104px; box-sizing: border-box; 
          display: flex; flex-direction: column; justify-content: center;}
        div.work_video{width:100%; height: 100%  }
      
        div.work_summary{width: 100vw; height: 100vh;  padding: 0 80px; box-sizing: border-box;
          display: flex; flex-direction: column; justify-content: center;  }
      footer{width: 100%; height: 80px; padding: 0 80px; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; }
      
      
      /* header */
      header{font-size: 32px; z-index: 100;}
      header.on{background: #000;}
      img{cursor: pointer;}
      .title_bar>ul{display: flex;}
      .title_bar>ul>li{margin-left:36px;}
      
      /* main */
      div.work_title
      
      .workinfo_box h3{font-size: 56px; font-weight: bold; margin-bottom: 80px; }
      .workinfo_box h4{font-size: 16px; margin-bottom: 16px; font-weight: bold; font-family: 'Noto Sans KR', sans-serif;}
      .workinfo_box p, .workinfo_box li {font-size: 20px;margin-bottom: 16px; }
      .workinfo_box ul{display: flex; }
      .workinfo_box ul>li{margin-right: 16px;}
      .infobox_bottom{display: flex; margin-top: 40px;}
      .infobox_bottom div.lang{margin-left: 80px;}
      
      div.work_video{display: flex; flex-direction: column; align-items: center;  padding: 80px 0 0; box-sizing: border-box; border: 1px solid red; box-sizing: border-box;}
      div.work_video video {width: 100%;   object-fit: cover;}
   
      div.work_link ul{display: flex;}
      div.work_link ul>li{font-size: 20px; margin: 80px 40px;}
      
      div.work_link ul>li>a:hover{text-decoration: line-through; }
      
      div.work_summary{font-family: 'Noto Sans KR', sans-serif; }
      div.work_summary h4{margin: 80px 0; font-weight: 900; font-size: 24px;}
      div.work_summary p, div.work_summary ul>li{margin-bottom: 16px; font-size: 20px; margin-left: 8px; line-height: 2;}
      div.work_summary ul>li:last-of-type>ul{margin-top: 16px; margin-left: 16px; }
      
      div.work_summary ul>li:last-of-type>ul>li{font-size: 16px;}
      /* footer */
      
      footer{font-size: 20px; margin-top: 120px;}
      footer>address{width: 100%; display: flex; justify-content: space-between; border-top: 1px solid rgba(255, 255, 255, 0.3); padding: 16px 8px 0;}
    
      /* slide move */
    
      div.slide_fix{position: fixed;}
      div.slide_move{position: absolute; top: 92vh; background: #000;}

      /* cjone */
      div.work_title.cjone{background-color:#f42b7b;}

      div.video_box{width: 100%; height: 100%; display: flex; justify-content: center; }
      div.video_box2{width: 100%; display: flex; flex-direction: column; justify-self: center; align-items: center;}

      div.work_video video.cjone{width: 80%; border:1px solid #eee; object-fit: cover;} 
      div.work_video video.cjoneT{ display: inline-block;  width: 50%; border: 1px solid #fff;margin: 80px 0;}
      div.work_video video.cjoneM{  width: 30%; border: 1px solid #eee; margin-right: 16px;}


      /* talk */
      div.work_title.talk{background-color:#d30000;}
      div.work_video video.talk{ margin: 160px 0 0; width: 75%; border: 1px solid #fff;}
  
}

/* Tablet 크기 769~1024 */
@media screen and (min-width:769px) and (max-width:1024px) {
 
    /* layout */
  div.wrap{width: 100%; height: 100%; box-sizing: border-box; background: #050505; color: #fff; }
  header{width: 100%; height: 120px; padding: 0 80px; box-sizing: border-box; position: fixed;}
    div.title_bar{width: 100%; height: 100%; display: flex;align-items: center; justify-content: space-between;}
  div.wrap_inner{width: 100%; height: 100%; border: 1px solid blue; }
  
    div.work_title{width: 100%; height: 92vh; background: #eee; padding: 200px; box-sizing: border-box; 
      display: flex; flex-direction: column; justify-content: center; background: rgb(0, 6, 88);}
    div.work_video{width: 100%; height: 100%  }
  
    div.work_summary{width: 100vw; height: 100vh;  padding: 200px; box-sizing: border-box;
      display: flex; flex-direction: column; justify-content: center;  }
  footer{width: 100%; height: 80px; padding: 0 80px; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; }
  
  
  /* header */
  header{font-size: 32px; z-index:10; }
  header.on{background: #000;}
  img{cursor: pointer;}
  .title_bar>ul{display: flex;}
  .title_bar>ul>li{margin-left:36px;}
  
  /* main */
  div.work_title
  
  .workinfo_box h3{font-size: 64px; font-weight: bold; margin-bottom: 112px; }
  .workinfo_box h4{font-size: 24px; margin-bottom: 16px; font-weight: 600; font-family: 'Noto Sans KR', sans-serif;}
  .workinfo_box p, .workinfo_box li {font-size: 20px;margin-bottom: 16px; }
  .workinfo_box ul{display: flex; }
  .workinfo_box ul>li{margin-right: 16px;}
  .infobox_bottom{display: flex; margin-top: 40px;}
  .infobox_bottom div.lang{margin-left: 80px;}
  
  div.work_video{display: flex; flex-direction: column; align-items: center;  border: 1px solid red; box-sizing: border-box;}
  div.work_video video {width: 100%; object-fit: fill;}
  div.work_video video.on {width: 80%; padding: 160px 0 0;}
  div.work_link ul{display: flex;}
  div.work_link ul>li{font-size: 24px; margin: 0 40px;}
  
  div.work_link ul>li>a:hover{text-decoration: line-through; }
  
  div.work_summary{font-family: 'Noto Sans KR', sans-serif; }
  div.work_summary h4{margin: 80px 0; font-weight: 900; font-size: 24px; font-family: 'Noto Sans KR', sans-serif;}
  div.work_summary p, div.work_summary ul>li{margin-bottom: 16px; font-size: 20px; margin-left: 8px;}
  div.work_summary ul>li:last-of-type>ul{margin-top: 16px; margin-left: 16px; }
  
  div.work_summary ul>li:last-of-type>ul>li{font-size: 16px;}
  /* footer */
  
  footer{font-size: 20px; margin-top: 40px;}
  footer>address{width: 100%; display: flex; justify-content: space-between; border-top: 1px solid rgba(255, 255, 255, 0.3); padding: 16px 8px 0;}

  /* slide move */

  div.slide_fix{position: fixed;}
  div.slide_move{position: absolute; top: 92vh; background: #000;}

  /* cjone */
  div.work_title.cjone{background-color:#f42b7b;}

  div.video_box{width: 100%; height: 100%; display: flex; justify-content: center; }
  div.video_box2{ width: 100%; height: 80vh; display: block; display: flex; justify-content:space-between; align-items: center;}


  div.work_video video.cjone{width: 80%; border: 1px solid #fff; margin-top: 120px;}
  div.work_video video.cjoneT{ margin-left: 63px;  width: 50%;border:1px solid #fff;}
  div.work_video video.cjoneM{ margin-right: 48px; width: 30%; border: 1px solid #eee;}


  /* talk */
  div.work_title.talk{background-color:#d30000;}
  div.work_video video.talk{ width: 60%; margin: 160px 0  0; border: 1px solid #fff;}
}



 /* PC 크기 1024~최대 */
 @media screen and (min-width:1024px) {
  /* layout */
div.wrap{width: 100%; height: 100%; box-sizing: border-box; background: #050505 /*linear-gradient(rgb(0, 6, 88), #000)*/;}
header{width: 100%; height: 120px; padding: 0 80px; box-sizing: border-box; position: fixed;   z-index: 100;}
  div.title_bar{width: 100%; height: 100%; display: flex;align-items: center; justify-content: space-between;}
div.wrap_inner{width: 100%; height: 100%; position: relative;  }

  div.work_title{width: 100%; height: 92vh; background: rgb(0, 6, 88);/*linear-gradient(74deg, rgba(0,6,88,1) 0%, rgba(9,9,121,1) 27%, rgba(0,0,0,1) 100%);*/ padding: 200px; box-sizing: border-box; 
    display: flex; flex-direction: column; justify-content: center;}  
  div.work_video{width: 100%; height: 100%  }

  
  div.work_summary{width: 100vw; height: 100vh;  padding: 200px; box-sizing: border-box;
    display: flex; flex-direction: column; justify-content: center;  }
footer{width: 100%; height: 104px; padding: 0 80px; box-sizing: border-box;  }


/* header */
header{font-size: 32px;}
img{cursor: pointer;}
.title_bar>ul{display:flex; }
.title_bar>ul>li{margin-left:36px;}
.title_bar>ul>li>a{color: #fff;}

/* main */
div.work_title{ color: #fff;}

.workinfo_box h3{font-size: 64px; font-weight: bold; margin-bottom: 112px; }
.workinfo_box h4{font-size: 24px; margin-bottom: 16px; font-weight: 600; font-family: 'Noto Sans KR', sans-serif;}
.workinfo_box p, .workinfo_box li {font-size: 20px;margin-bottom: 16px; }
.workinfo_box ul{display: flex; }
.workinfo_box ul>li{margin-right: 16px;}
.infobox_bottom{display: flex; margin-top: 40px;}
.infobox_bottom div.lang{margin-left: 80px;}

div.work_video{display: flex; flex-direction: column; align-items: center;  box-sizing: border-box;}
/* div.work_video video {width: 100%;  position: relative; top: -80px; object-fit: cover; } */


div.work_video video{width: 70%; border: 1px solid #eee; position: static; margin: 160px 0 80px;}


div.work_link ul{display: flex;}
div.work_link ul>li{font-size: 24px; margin: 0 40px;}

div.work_link ul>li>a:hover{text-decoration: line-through; }

div.work_summary{font-family: 'Noto Sans KR', sans-serif; color: #fff; }
div.work_summary h4{margin: 80px 0; font-weight: 900; font-size: 24px;}
div.work_summary p, div.work_summary ul>li{margin-bottom: 16px; font-size: 20px; margin-left: 8px;}
div.work_summary ul>li:last-of-type>ul{margin-top: 16px; margin-left: 16px; }

div.work_summary ul>li:last-of-type>ul>li{font-size: 16px;}


/* slide move */

div.slide_fix{position: fixed;}
div.slide_move{position: absolute; top: 92vh; background: #050505;}



/* footer */

footer{font-size: 32px; color: #fff; margin-top: 80px;  }
footer>address{display: flex; justify-content: space-between; align-items: center; padding: 24px 8px 0; border-top: 1px solid rgba(255, 255, 255, 0.3);}


/* cjone */
div.work_title.cjone{background-color:#f42b7b;}

div.video_box{width: 100%; height: 100%; display: flex; justify-content: center; }
div.video_box2{width: 100%; height: 80vh; display: block; display: flex; justify-content:space-evenly; align-items: center; margin-bottom: 80px}

div.work_video video.cjone{width: 60%; border:1px solid #eee; object-fit: cover;} 
div.work_video video.cjoneT{ display: inline-block;  width: 25%; border: 1px solid #fff; margin-right: 320px;}
div.work_video video.cjoneM{  width: 15%; border: 1px solid #eee; margin-right: 16px;}




/* talk */
div.work_title.talk{background-color:#d30000;}
div.work_video video.talk{ width: 50%; margin: 160px 0 80px; border: 1px solid #fff;}
}
